{% extends '../../template.html' %}

{% block styles %} 
    <style type="text/css">

    </style>
{% endblock %}

{% block content %}
    <form class="row g-3 needs-validation" novalidate>
        <div class="col-12 mb-4">
            <h4 id="title"><i class="fa fa-users"></i>&nbsp;{{ pagename }}</h4>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="usuario"><b>Nombre de usuario</b></label>
                <input class="form-control" id="usuario" placeholder="Nombre de usuario" required maxlength="20" autocomplete="off">
                <div class="invalid-feedback">Campo requerido</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="mail"><b>Mail</b></label>
                <input class="form-control" type="email" maxlength="50" id="mail" placeholder="ejemplo@hotmail.com" required autocomplete="off">
                <div class="invalid-feedback">Debe ingresar un email válido</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="clave"><b>Clave</b></label>
                <input class="form-control" type="password" id="clave" placeholder="Introduzca una clave de al menos 6 caracteres" required maxlength="20" minlength="6" autocomplete="new-password">
                <div class="invalid-feedback">Debe ingresar una clave de al menos 6 caracteres</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="clave"><b>Niveles</b></label>
                <select id="niveles"class="form-control">
                    {% if nivel.indexOf('Administrador') > -1 %}
                    <option selected value="Administrador">Administrador</option>
                    {% endif %}
                    <option value="Lista">Lista</option>
                </select>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group" style="float: right;">
                <button id="Guardar" onclick="Alta()" class="btn btn-round btn-success"><i class="fa fa-save"></i>&nbsp;Guardar</button>
                <a href="/usuarios/lista" class="btn btn-round btn-danger"><i class="fa fa-backward"></i>&nbsp;Volver</a>
            </div>
        </div>
    </form>
{% endblock %}
{% block scripts%}
<script>
    async function Alta() {
        event.preventDefault();
        event.stopPropagation();
        const form = document.getElementsByClassName('needs-validation')[0];
        form.classList.add('was-validated');
        if (!form.checkValidity()) return;
        $("#preloader").show();
        let body = {
            usuario: $("#usuario").val(),
            mail: $("#mail").val(),
            clave: $("#clave").val(),
            niveles: $("#niveles").val()
        }
        const res = await $.post("/usuarios/alta", body);
        $("#preloader").hide();
        Swal.fire({
            icon: res.type,
            title: res.title,
            text: res.text,
            timer: 2500
        }).then(() => {
            if (res.type == "success") window.location = "/usuarios/lista";
        });
    }

</script>
{% endblock %}