{% extends '../../template.html' %}

{% block styles %} 
    <style type="text/css">
        .btn:disabled{
            cursor: no-drop;
        }
        .ops{
            text-align: center;
            padding: 0.1rem .75rem !important;
            vertical-align: middle !important;
        }
        .ops [disabled]{
            opacity: 0.2;
        }
        .checks {
            text-align: start;
        }
        .imagen {
            width: 40px;
            height: 40px;
            background-image: url('/assets/img/no_image.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        table td {
            vertical-align: inherit !important;
        }
    </style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 d-flex">
        <h4 id="title"><i class="fa fa-archive"></i>&nbsp;{{ pagename }}</h4>
        <a id="btnNuevo" href="/articulos/alta" class="btn btn-round btn-success ml-auto"><i class="fa fa-plus"></i> Nuevo</a>
        <!-- <a id="btnPrecios" href="/articulos/precios-masivos" class="btn btn-round btn-primary ml-1"><i class="fa fa-plus"></i> Actualizar precios</a> -->
        <button id="btnPrecios" class="btn btn-round btn-primary ml-1" onclick="PreciosMasivos()"><i class="fa fa-plus"></i> Actualizar precios</button>
    </div>
    <div class="col-12 mt-4" style="overflow-x: auto;">
        <table class="table table-striped tableFixHead" id="tablaArticulos">
            <thead>
                <th style="width: 50px;"></th>
                <th style="min-width: 130px;">Descripción artículo</th>
                <th>Precio</th>
                <th>IVA</th>
                <th>Rubro</th>
                <th style="text-align: right;">Activo?</th>
                <th style="text-align: center; width: 190px; min-width: 190px;">Acciones</th>
            </thead>
            <tbody>
                {% for a in articulos %}
                <tr>
                    <td>
                        <div class="imagen">
                            <div style="width: 100%; height: 100%; background-image: url({{a.img}}); background-repeat: no-repeat; background-size: cover;"></div>
                        </div>
                    </td>
                    <td>{{ a.descripcion }}</td>
                    <td>{{ a.precio }}</td>
                    <td>{{ a.iva }}</td>
                    <td>{{ a.rubro }}</td>
                    <td style="text-align: right;">{% if a.activo == 1 %} Si {% else %} No {% endif %}</td>
                    <td class="ops">
                        <a href="/articulos/modificar/{{a.id}}" class="btn btn-round btn-sm btn-warning" title="Modificar" data-toggle="tooltip"><i class="fa fa-pen"></i></a>
                        <button class="btn btn-round btn-sm btn-danger" data-toggle="tooltip" onclick="BorrarArticulo('{{ a.id }}')"
                            data-id="{{ a.unica }}" title="Borrar"><i class="fa fa-trash-alt"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    async function BorrarArticulo(idArt) {
        $('[data-toggle="tooltip"]').tooltip();
        const perm = {{ permisions.b | safe }};
        if ({{ permisions.b }}) {
            Swal.fire({
                title: 'Confirmar',
                text: "Desea borrar este artículo?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
            }).then(async result => {
                if (result.value) {
                    $("#preloader").show();
                    const res = await $.post('/articulos/lista/borrar', { idArt });
                    $("#preloader").hide();
                    Swal.fire({
                        icon: res.type,
                        title: res.title,
                        text: res.text
                    }).then(() => {
                        if (res.type == 'success') location.reload();
                    });
                }
            });
        } else {
            Swal.fire({
                title: 'No Permitido!',
                text: "No tiene permisos para borrar usuarios",
                icon: 'error',
            })
        }
    }

    async function PreciosMasivos() {
        const rub = {{ rubros | safe | json}};
        let options = '';
        rub.forEach(element => {
            options += `<option value="${ element.id }">${ element.descripcion }</option>`;
        });
        if ({{ permisions.m }}) {
            let porcentajeInput;
            let rubroInput;
            Swal.fire({
                title: 'Precios Masivos',
                html: `
                    <br>
                    <div class="form-group">
                        <input class="form-control" maxlength="50" type="number" id="porcentaje" placeholder="Porcentaje" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <select id="rubro"class="form-control">${options}</select>
                    </div>
                    <div class="checks">
                        <div class="form-check cursor-pointer">
                            <input class="form-check-input cursor-pointer" type="radio" name="accion" id="aumento" checked>
                            <label class="form-check-label cursor-pointer" for="aumento">Porcentaje de aumento</label>
                        </div>
                        <div class="form-check cursor-pointer">
                            <input class="form-check-input cursor-pointer" type="radio" name="accion" id="disminucion">
                            <label class="form-check-label cursor-pointer" for="disminucion">Porcentaje de disminución</label>
                        </div>
                    </div>
                `,
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar',
                cancelButtonText: 'Cancelar',
                preConfirm: () => {
                    if ($('#porcentaje').val().trim() === '') {
                        Swal.showValidationMessage(`El porcentaje debe tener valor`)
                    }
                    return;
                }
            }).then(async result => {
                
                if (result.value) {
                    let accion = 'aumentar';
                    if ($('#disminucion').prop('checked')) accion = 'disminuir';
                    const body = {
                        porcentaje: Math.abs($('#porcentaje').val()),
                        rubro: $('#rubro').val(),
                        accion
                    };
                    $("#preloader").show();
                    const res = await $.post("/articulos/precios-masivos", body );
                    $("#preloader").hide();
                    Swal.fire({
                        icon: res.type,
                        title: res.title,
                        text: res.text
                    }).then(() => {
                        if (res.type == 'success') window.location = "/articulos/lista";
                    });
                }
            });
        } else {
            Swal.fire({
                title: 'No Permitido!',
                text: "No tiene permisos para resetear contraseñas de usuarios",
                icon: 'error',
            });
        }
    }
</script>
{% endblock %}