{% extends '../../template.html' %}

{% block styles %} 
    <style type="text/css">
        .btn:disabled{
            cursor: no-drop;
        }
        .ops{
            text-align: center;
            padding: 0.1rem .75rem !important;
            vertical-align: middle !important;
        }
        .ops [disabled]{
            opacity: 0.2;
        }
    </style>
{% endblock %}

{% block content %}
    <form class="row g-3 needs-validation" novalidate>
        <div class="col-md-12 mb-4 d-flex">
            <h4 id="title"><i class="fa fa-archive"></i>&nbsp;{{ pagename }}</h4>
        </div>
        {% if articulo%}
        <div class="col-12">
            <h5>Detalles del artículo:</h5>
            <br>
        </div>
        <div class="col-12">
            <input hidden type="text" id="idArt" value="{{ articulo.id }}">
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="descripcion"><b>Descripción del artículo</b></label>
                <input class="form-control" id="descripcion" placeholder="Descripción del artículo" required maxlength="20" autocomplete="off" value="{{ articulo.descripcion }}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="precio"><b>Precio</b></label>
                <input class="form-control" maxlength="50" type="number" id="precio" placeholder="Precio" required autocomplete="off" value="{{ articulo.precio }}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="iva"><b>IVA</b></label>
                <input class="form-control" type="number" id="iva" placeholder="IVA" required maxlength="20" autocomplete="off" value="{{ articulo.iva }}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="rubro"><b>Rubro</b></label>
                <select id="rubro"class="form-control">
                    {% for r in rubros %}
                        <option {% if articulo.id_rubro == r.id %}selected{% endif %} value="{{ r.id }}">{{ r.descripcion }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="imagen"><b>URL Imagen</b></label>
                <input class="form-control" type="text" id="imagen" placeholder="Imagen" autocomplete="off" value="{{ articulo.img }}">
            </div>
        </div>
        <div class="col-12">
            <div class="form-group" style="float: right;">
                <button id="Guardar" onclick="Modificar()" class="btn btn-round btn-success"><i class="fa fa-save"></i>&nbsp;Guardar</button>
                <a href="/articulos/lista" class="btn btn-round btn-danger"><i class="fa fa-backward"></i>&nbsp;Volver</a>
            </div>
        </div>
        {% else %}
        <div class="col-12">
            <p>No existe el artículo</p>
        </div>
        <div class="col-12">
            <div class="form-group" style="float: right;">
                <a href="/articulos/lista" class="btn btn-round btn-danger"><i class="fa fa-backward"></i>&nbsp;Volver</a>
            </div>
        </div>
        {% endif %}
    </form>
{% endblock %}

{% block scripts %}
<script>
    async function Modificar() {
        event.preventDefault();
        event.stopPropagation();
        const form = document.getElementsByClassName('needs-validation')[0];
        form.classList.add('was-validated');
        if (!form.checkValidity()) return;
        Swal.fire({
            title: 'Confirmar',
            text: "Confirme para modificar el artículo",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar',
        }).then(async result => {
            if (result.value) {
                $('#preloader').show();
                const body = {
                    idArticulo: $('#idArt').val(),
                    descripcion: $('#descripcion').val(),
                    precio: $('#precio').val(),
                    rubro: $('#rubro').val(),
                    iva: $('#iva').val(),
                    img: $('#imagen').val()
                };
                const res = await $.post('/articulos/modificar', body);
                $("#preloader").hide();
                Swal.fire({
                    icon: res.type,
                    title: res.title,
                    text: res.text,
                    timer: 2500
                }).then(() => {
                    if (res.type != 'error') window.location = "/articulos/lista";
                });
            }
        });
    }
</script>
{% endblock %}