{% extends '../../template.html' %}

{% block styles %} 
    <style type="text/css">
        .btn:disabled{
            cursor: no-drop;
        }
        .ops{
            text-align: center;
            padding: 0.1rem .75rem !important;
            vertical-align: middle !important;
        }
        .ops [disabled]{
            opacity: 0.2;
        }
    </style>
{% endblock %}

{% block content %}

{% endblock %}

{% block scripts %}
<script>
    console.log('precios masivos');
</script>
{% endblock %}