{% extends '../../template.html' %}

{% block styles %} 
    <style type="text/css">
        .btn:disabled{
            cursor: no-drop;
        }
        .ops{
            text-align: center;
            padding: 0.1rem .75rem !important;
            vertical-align: middle !important;
        }
        .ops [disabled]{
            opacity: 0.2;
        }
        .checks {
            text-align: start;
        }
        .imagen {
            width: 40px;
            height: 40px;
            background-image: url('/assets/img/no_image.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        table td {
            vertical-align: inherit !important;
        }
    </style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h4 id="title"><i class="fa fa-list-alt"></i>&nbsp;{{ pagename }}</h4>
    </div>
    <div class="col-12 mt-4" style="overflow-x: auto;">
        <h5>Ranking de 10 artículos más vendidos</h5>
        <table class="table table-striped tableFixHead" id="tabla-mas-vendidos">
            <thead>
                <th style="width: 50px;"></th>
                <th style="min-width: 130px;">Artículo</th>
                <th>Precio</th>
                <th>IVA</th>
                <th>Rubro</th>
                <th class="text-center">Cantidad vendido</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col-12 mt-2 text-right">
        <button id="btnMasVendidos" class="btn btn-round btn-primary ml-1" onclick="GenerarReporte('articulos')"><i class="fa fa-print" aria-hidden="true"></i> Imprimir PDF</button>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12 mt-4" style="overflow-x: auto;">
        <div class="d-flex align-items-center justify-content-between mb-2">
            <h5>Ingresos por ventas según medios de pago</h5>
            <div class="filter d-flex align-items-center">
                <label for="date-from" class="mb-0 mr-2">Desde</label>
                <input id="date-from" class="form-control mr-4" type="date" onkeydown="return false" onchange="changeDate()">
                <label for="date-to" class="mb-0 mr-2">Hasta</label>
                <input id="date-to" class="form-control mr-4" type="date" onchange="changeDate()">
                <select style="width: 225px;" id="medios-pago" class="form-control" onchange="changeEvent()"></select>
            </div>
        </div>
        <table class="table table-striped tableFixHead" id="tabla-medios-pago">
            <thead>
                <th style="max-width: 50px;">Id pedido</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Medio de pago</th>
                <th>Subtotal</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col-12 text-right mt-2">
        <h6 class="d-inline">Total de ingresos: $ </h6>
        <span id="total-medios-pago"></span>
    </div>
    <div class="col-12 mt-4 text-right">
        <button id="btnMediosPago" class="btn btn-round btn-primary ml-1" onclick="GenerarReporte('pedidos')"><i class="fa fa-print" aria-hidden="true"></i> Imprimir PDF</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    !(async function($) {
        let masVendidos = [];
        let pedidos = [];
        let total = 0;
        await getMediosPago();
        await renderInputDate();
        await renderTablaMasVendidos();
        
    })(jQuery);

    async function getMediosPago() {
        const mediosPago = await $.get('/medios-pago');
        mediosPago.forEach(item => {
            $('#medios-pago').append(`
                <option value="${item.id}">${item.descripcion}</option>
            `);
        });
    }

    async function renderInputDate() {
        let now = new Date();
        let firstDayYear = `${now.getFullYear()}-01-01`;
        let today = `${now.getFullYear()}-${(now.getMonth() + 1).toString().padStart(2, '0')}-${now.getDate().toString().padStart(2, '0')}`;
        $('#date-from').val(firstDayYear);
        $('#date-to').val(today);
        await renderTablaMediosPago(1, $('#date-from').val(), $('#date-to').val());
    }

    async function changeEvent() {
        const idMedioPago = $('#medios-pago').val();
        await renderTablaMediosPago(idMedioPago, $('#date-from').val(), $('#date-to').val());
    }

    async function changeDate() {
        const dateFrom = $('#date-from').val();
        const dateTo = $('#date-to');
        if (dateFrom) {
            dateTo.attr('min', dateFrom);
            if (dateTo.val() && dateTo.val() < dateFrom) {
                dateTo.val('');
            }
        }
        await changeEvent();
    }

    async function renderTablaMasVendidos() {
        masVendidos = await $.get('/reportes/mas-vendidos');
        if (masVendidos.length) {
            let data = $('#tabla-mas-vendidos tbody');
            masVendidos.forEach(item => {
                let row = `
                    <tr>
                        <td>
                            <div class="imagen">
                                <div style="width: 100%; height: 100%; background-image: url(${item.img}); background-repeat: no-repeat; background-size: cover;"></div>
                            </div>
                        </td>
                        <td>${item.articulo}</td>
                        <td>${item.precio}</td>
                        <td>${item.iva}</td>
                        <td>${item.rubro}</td>
                        <td class="text-center">${item.veces_vendido}</td>
                    </tr>
                `;
                data.append(row);
            });
        } else {
            $('#tabla-mas-vendidos').empty();
            $('#tabla-mas-vendidos').append(`
                <div class="col-12 mt-4">
                    <h5>No hay artículos vendidos</h5>    
                </div>
            `);
            $('#btnMasVendidos').prop('disabled', true);
        }
    }

    async function GenerarReporte(tipo) { // tipo = 'articulos' o 'pedidos'
        const items = tipo === 'articulos' ? masVendidos : pedidos;
        $("#preloader").show();
        fetch('/reportes/generar-pdf', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ items, template: tipo, total })
        }).then(response => response.blob()).then(blob => {
            $("#preloader").hide();
            const url = window.URL.createObjectURL(blob);
            window.open(url, '_blank');
        }).catch(error => {
            $("#preloader").hide();
            console.error('Error al descargar PDF: ', error);
        });
    }

    async function renderTablaMediosPago(idMedioPago, from, to) {
        total = 0;
        $('#tabla-medios-pago tbody').empty();
        $('#btnMediosPago').prop('disabled', false);
        pedidos = await $.get(`/reportes/medio-pago/${idMedioPago}?from=${from}&to=${to}`);
        if (pedidos.length) {
            let data = $('#tabla-medios-pago tbody');
            pedidos.forEach(item => {
                total += item.subtotal;
                let row = `
                    <tr>
                        <td>${item.id}</td>
                        <td>${item.fecha_creado}</td>
                        <td>${item.nombre} ${item.apellido}</td>
                        <td>${item.medio_pago}</td>
                        <td>${item.subtotal}</td>
                    </tr>
                `;
                data.append(row);
            });
            $('#total-medios-pago').empty();
            $('#total-medios-pago').append(total);
        } else {
            $('#tabla-medios-pago tbody').empty();
            $('#tabla-medios-pago tbody').append(`
                <tr>
                    <td colspan="5" class="text-center">No hay pedidos encontrados con el filtro aplicado</td>    
                </tr>
            `);
            $('#btnMediosPago').prop('disabled', true);
            $('#total-medios-pago').empty();
            $('#total-medios-pago').append(0)
        }
    }

</script>
{% endblock %}